/**
 * @name discord-friend-styles
 * @description yayyy
 * @author multiple
 * @version 1.0
*/

@font-face {
  font-family: "Facade Ouest";
  src: url("https://raw.githubusercontent.com/eleonorefines/Facade-font/refs/heads/master/fonts/Facade-Ouest.woff") format("woff");
}
@font-face {
  font-family: "Stereo Sans";
  src: url("https://raw.githubusercontent.com/cyclar2/discord-friend-styles/refs/heads/trunk/StereoSans.woff") format("woff");
}
@font-face {
  font-family: "Cartesian";
  src: url("https://raw.githubusercontent.com/cyclar2/discord-friend-styles/refs/heads/trunk/Cartesian.woff") format("woff");
}
@font-face {
  font-family: "Megrim";
  src: url("https://raw.githubusercontent.com/discord-friend-styles/refs/heads/trunk/Megrim.woff") format("woff");
}

/* V-23 */
li[data-author-id="1301447356092252190"], li[data-author-id="98613009261297664"] {
  font-family: "Facade Ouest";
  letter-spacing: 0.15ch;

  code {
    color: oklch(70% 0.12 170);
    letter-spacing: initial;
    background-color: oklch(25% 0.03 310);
    border: 2;
    border-color: oklch(30% 0.04 310);
  }

  code.inline {
    font-family: "Facade Ouest";
    letter-spacing: 0.15ch;
    font-size: 1em;
  }

  strong code.inline {
    font-family: "Stereo Sans";
  }
}

/* DISTANT STAR */
li[data-author-id="111743808701472768"] {
  /* Commenting this out until I can find a fix that lets Vessel keep the prefix
  in Facade
  font-family: "Cartesian";*/
  font-family: "Facade Ouest";
  letter-spacing: 0.15ch;

  /* Discord's new Nitro usename styling shatters this pretty badly.
  h3 [class*="username_"] {
    font-family: "Megrim";
    --font-code: "Megrim";
    letter-spacing: 0.15ch;
    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(oklch(0.4727 0.1439 252.67), oklch(0.5313 0.268 289.73));
    color: transparent;
    background-clip: text;
    filter:
      drop-shadow(-4px -4px rgb(255 255 255 / 0.04))
      drop-shadow(4px -4px rgb(255 255 255 / 0.04))
      drop-shadow(-4px 4px rgb(255 255 255 / 0.04))
      drop-shadow(4px 4px rgb(255 255 255 / 0.04));
  } */

  code {
    font-family: "Facade Ouest";
    --font-code: "Facade Ouest";
    color: oklch(69.459% 0.1795 301.812);
    background-color: oklch(18.743% 0.0343 293.631);
  }

  code.inline {
    font-family: "Facade Ouest";
    --font-code: "Facade Ouest";
    font-size: 1em;
  }

  h1, h2 {
    font-family: "Facade Ouest";
    font-weight: bold;
  }
}
li[data-author-id="1298439483326333025"] {
  font-family: "Facade Ouest";
  --font-code: "Facade Ouest";
  letter-spacing: 0.15ch;

  code {
    color: oklch(69.459% 0.1795 301.812);
    background-color: oklch(18.743% 0.0343 293.631);
  }

  code.inline {
    font-size: 1em;
  }

  h1, h2 {
    font-family: "Facade Ouest";
    font-weight: bold;
  }
}